@import "./layouts/_header";
@import "./layouts/_signup";
@import "./layouts/_faker";
@import "./layouts/_messages";
@import "./layouts/_products";
@import "./layouts/_footer";
@import "./layouts/profileUser";
@import "./layouts/_failAuth.scss";
@import "./layouts/carrito";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 20px;
  height: 20px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #ffffff;
}
