<div class="productoEnCarrito">
    <p class="title">Titulo</p>
    <p class="price">Precio</p>
     <!-- <button onclick=eliminarDelCarrito(${prod._id}) class="boton-eliminar"><i class="fas fa-trash-alt"></i>        </button> -->
</div>