<main id="contenedor-productos">
  <div class="producto">
    <% prodsMongo.forEach(function(user){ %>
    <%= user %>
    <%}) %>
  </div>

</main>

<div class="modal-contenedor">
  <div class="modal-carrito">
    <h3>Carrito</h3>
    <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
    <div id="carrito-contenedor">
    </div>
    <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
    <button id="ver-carrito" class="boton-agregar">VER CARRITO</button>ñ
    <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
  </div>
</div>

<div id="agregar__producto">
  <button id="postear__prod">
    <a href="/products/add-one">POSTEAR UN PRODUCTO</a>
  </button>
</div>