<main id="contenedor-productos">
  <% prodsMongo.forEach(function(user){ %>
    <div class="producto">
      <h3>
        <%=user.title %>
      </h3>
      <p>
        <%=user.price %>
      </p>
      <button id="agregar<%=user._id %>" class="boton-agregar">Agregar <i class="fas fa-shopping-cart"></i></button>

    </div>

    <%}) %>


</main>

<div class="modal-contenedor">
  <div class="modal-carrito">
    <h3>Carrito</h3>
    <button id="carritoCerrar"><i class="fas fa-times-circle"></i></button>
    <div id="carrito-contenedor">
    </div>
    <p class="precioProducto">Precio total: $<span id="precioTotal">0</span></p>
    <button id="vaciar-carrito" class="boton-agregar">Vaciar carrito</button>
  </div>
</div>

<div id="agregar__producto">
  <button id="postear__prod">
    <a href="/products/add-one">POSTEAR UN PRODUCTO</a>
  </button>
</div>

<button id="ver-carrito" class="boton-agregar">
  <a href="/carrito">
    VER CARRITO
  </a>
</button>