<% for(let i=0; i < prodsFaker.length; i++) {%>
<div>
  <p>
    <%= prodsFaker[i].title%>
  </p>
  <p>
    <%= prodsFaker[i].price%>
  </p>
  <p>
    <%= prodsFaker[i].tumbnail%>
  </p>
  <button onclick="agregarAlCarrito()">agregar al carrito</button>

</div>
<% } %>
</div>