<form method="post" action="/carritos">
    <label>
        title
        <input type="text" name="title" placeholder="title" value="title">
    </label>
    <label>
        description
        <input type="text" name="description" placeholder="description" value="description">
    </label>
    <label>
        photo
        <input type="text" name="photo" placeholder="photo" value="photo">
    </label>
    <label>
        name
        <input type="text" name="name" placeholder="name" value="name">
    </label>
    <label>
        price
        <input type="text" name="price" placeholder="price" value="name">
    </label>

    <input type="submit" value="Enviar">
</form>