<h3>Login</h3>

<form action="/login" method="POST">
    <!-- NOMBRE -->
    <div>
        <label>
            Nombre
            <input id="nameLogin" name="nameLogin" value="nombre" type="text" placeholder="Nombre" required /></label>
    </div>
    <!-- CONTRASEÑA -->
    <div>
        <label>
            Password
            <input id="contrasenaLogin" name="contrasenaLogin" value="1234" type="password" placeholder="password" required /></label>
    </div>

    <input type="submit" value="Enviar!" id="enviarLogin" />
    
</form>