<div id="chatContainer">
    <h3> Centro de Mensajes - Compresión: <span id="compression"></span>%</h3>
    <form id="chatForm" onsubmit="enviarMsg(); return false">
        <!-- mail -->
        <div>
            <input id="messageChat" value="" type="text" placeholder="Tu consulta!" />
            <div id="chatPage"></div>
            <input type="submit" value="Enviar!" id="enviarChat" class="action-button" />
    </form>
</div>