<div id="chatContainer">
    <h3>Chat Center</h3>
    <div id="chatForm">
        <div id="chatPage"></div>
        <div>
            <label>
                Messages
                <input type="text" id="messageChat" value="yourMessage" />
            </label>
        </div>

        <button id="submitChat" onclick="inputChat()">SUBMIT</button>

    </div>
</div>