<header>
  <nav>

    <ul>
      <li> <a href="/">Inicio</a> </li>
    </ul>

    <ul id="auth">
      <button id="boton-carrito"><i class="fas fa-shopping-cart"></i><span id="contadorCarrito">0</span></button>

      <li><a href="/auth/logout">SIGN OUT</a></li>
      <li><a href="/auth/profileuser">👤</a></li>
    </ul>

    <!--     <div class="carrito" title="Carrito">
      <button class="" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
        <img src="https://cdn-icons-png.flaticon.com/512/3649/3649775.png" class="cart" alt="" />
        <span id="productosCounter">0</span>
      </button>
    </div> -->

  </nav>
</header>