<header>
  <nav>

    <ul>
      <li> <a href="/">Inicio</a> </li>
    </ul>

    <ul id="auth">
      <li><a href="/auth/signup">SIGN UP</a></li>
      <li><a href="/auth/login">LOG IN</a></li>
    </ul>

  </nav>
</header>