<header>
  <nav>

    <ul>
      <li> <a href="/">Inicio</a> </li>
    </ul>

    <ul id="auth">
      <button id="boton-carrito"><i class="fas fa-shopping-cart"></i><span id="contadorCarrito">0</span></button>

      <li><a href="/auth/logout">SIGN OUT</a></li>
      <li><a href="/auth/profileuser">👤</a></li>
    </ul>

  </nav>
</header>