<header>
  <nav>

    <ul>
      <li> <a href="/">Inicio</a> </li>
    </ul>

    <ul id="auth">
      <li><a href="/logout">SIGN OUT</a></li>
      <li><a href="/profileUser">👤</a></li>
    </ul>

  </nav>
</header>