
<div id="divTableProds">
    <h3>Enter a PRODUCT</h3>
    <!-- Form -->
    <form id="chatForm" method="get" action="/products" >
        <label>
            Titulo 
            <input type="text" id="titleProd" value="titleProd" />
        </label>

        <label>
            Precio
            <input type="text" id="priceProd" value="800" />
        </label>
        <label>
            Category
            <input type="text" value="categoria" id="categoria" placeholder="categoria">
        </label>

        <label>
            Thumbnail
            <input type="text" id="thumbProd" value="thumbProd" />
        </label>

        <button id="submitProds" onclick="inputProds()">SUBMIT</button>
    </form>
    <!-- Form -->

</div>

