<div id="divAuth">
    <div id="divAuth_description">
        <h1>REGISTER</h1>
        <p>Hi! Please REGISTER yourself to continue</p>
    </div>
    <form method="post" action="/auth/signup">
        <label>
            your username
            <input placeholder="your username" name="username" value="username" />
        </label>
        <label>
            your password
            <input placeholder="your password" name="password" value="password" />
        </label>
        <label>
            your gmail
            <input placeholder="your gmail" name="gmail" value="victoriaileanarodriguezmora@gmail.com" />
        </label>
        <label>
            your adress
            <input placeholder="your adress" name="adress" value="adress" />
        </label>
        <label>
            your age
            <input placeholder="your password" name="age" value="age" />
        </label>
        <label>
            your phone
            <input placeholder="your phone" name="phone" value="+541133990583" />
        </label>
        <label>
            your password
            <input placeholder="your password" name="avatar" value="avatar" />
        </label>
        <input id="submitAuth" type="submit" value="Register!" />
    </form>

    <button id="goToLogin">
        <a href="/auth/login">Go to LOG IN</a>
    </button>


    
</div>