<div id="divAuth">
    <div id="divAuth_description">
        <h1>REGISTER</h1>
        <p>Hi! Please REGISTER yourself to continue</p>
    </div>
    <form method="post" action="/signup">
        <input placeholder="your username" name="username" value="username" />
        <input placeholder="your password" name="password" value="password" />
        <input placeholder="your gmail" name="gmail" value="victoriaileanarodriguezmora@gmail.com" />
        <input placeholder="your username" name="adress" value="adress" />
        <input placeholder="your password" name="age" value="age" />
        <input placeholder="your username" name="phone" value="phone" />
        <input placeholder="your password" name="avatar" value="avatar" />

        <input id="submitAuth" type="submit" value="Register!" />
    </form>

    <button id="goToLogin">
        <a href="/login">Go to LOG IN</a>
    </button>

</div>