{{> navbar}}
<br />

<h1>{{title}}</h1>
<form action="/products" method="GET">
    <input type="text" name="title" id="title" />
    <input type="text" name="price" id="price" />
    <input type="text" name="thumbnail" id="thumbnail" />
    <input type="submit" value="ENVIAR" />
</form>
<br />
{{> footer}}
<br />