html
    head
        title=title
    body
        h1=title 
        a(href="/api/products")="PRODUCTS"
        form(method='POST' action='api/products/')
                input(type='text',  name='name', placeholder="name")
                input(type='text',  name='price', placeholder="price")
                input(type='text',  name='thumbnail', placeholder="thumbnail")
                button.btn.btn-primary(type="submit") Submit