<%- include("../partials/head"); %>

    <!-- HEADER -->
    <%- include("../partials/navbar_logged"); %>
        <!-- HEADER -->

        <div id="fail_auth">

            <h1>Login Error, try it again</h1>
            <p>You are being redirect to LOGIN</p>

            <button>
                <a href="/signup">Go to Sign Up</a>
            </button>

        </div>

        <script>
            setTimeout(() => { window.location.href = "/login"; }, 3000);
        </script>

        <!-- FOOTER -->
        <%- include("../partials/footer"); %>
            <!-- FOOTER -->