<%- include("../partials/head"); %>

    <%- include("../partials/navbar_logged"); %>

        <div id="fail_auth">

            <h1>Login Error, try it again</h1>
            <p>You are being redirect to LOGIN</p>

            <button>
                <a href="/auth/signup">Go to Sign Up</a>
            </button>

        </div>

        <script>
            setTimeout(() => { window.location.href = "/auth/login"; }, 3000);
        </script>

        <%- include("../partials/footer"); %>